<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>W3B 0N TH3 R0CK5</title>
    <meta name="description" content="">
    <meta name="author" content="daniel">

    <link rel="icon"  href="http://webontherocks.net/images/icon.png" type="image/png"/>

    <link rel="stylesheet" href="css/style.css?v=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"></script>
</head>

<body>
    <div class="row">

        <div class="col-md-1">
            <img class="image" src="/images/icon003.png" width="100" style="position:fixed;" />
        </div>
        <div class="col-md-10">
            <!--<h1 class="text-center">W3B 0N TH3 R0CK5</h1>-->
            <h1 class="yellow">W3B 0N TH3 R0CK5</h1>
            <hr>
        </div>
    </div>
    @RenderBody()
   <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 footer">
            <span>©_drm 2017</span>
        </div>
    </div>
    <!--<script src="/js/bootstrap.js"></script>-->
    <script src="/js/main.js"></script>
</body>

</html>