<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>W3B 0N TH3 R0CK5</title>
    <meta name="description" content="">
    <meta name="author" content="daniel">

    <link rel="shortcut icon" type="image/png" href="/images/icon.png" />

    <link rel="stylesheet" href="css/style.css?v=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"></script>
</head>

<body>
    <div class="row">

        <div class="col-md-1">
            <img class="image" src="/images/icon003.png" width="100" style="position:fixed;" />
        </div>
        <div class="col-md-10">
            <!--<h1 class="text-center">W3B 0N TH3 R0CK5</h1>-->
            <h1 class="yellow">W3B 0N TH3 R0CK5</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7 content">
            <div class="article">
                <h2 class="grey">NodeJS Server</h1>
                    <h4 class="grey">Basic implementation of nodejs express</h2>
                <code data-gist-id="6123d7161631937d169d9d15f6187e78"></code>

            </div>
            <hr>
            <div class="article">
                <h2 class="grey">Umbraco</h1>
                    <h4 class="grey">Custom Create Content View</h2>
                <code data-gist-id="85611cc6a60bd02014f9a456b35fcc26"></code>
            </div>

        </div>
        <div class="col-md-3 content">
            <div class="article">
                <h1 class="yellow">_aboutMe</h1>
                <img src="/images/alex.gif" />
                <p class="grey">That rock 'n'roll, eh? That rock'n'roll, it just won't go away. It might hibernate from time to time, and sink back into the swamp. I think the cyclical nature of the universe in which it exists demands it adheres to some of its rules.
                    But it's always waiting there, just around the corner. Ready to make its way back through the sludge and smash through the glass ceiling, looking better than ever. Yeah, that rock'n'roll, it seems like it's faded away sometimes, but
                    it will never die. And there's nothing you can do about it.</p>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 footer">
            <span>©_drm 2017</span>
        </div>
    </div>
    <!--<script src="/js/bootstrap.js"></script>-->
    <script src="/js/main.js"></script>
</body>

</html>